<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Moment.js -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2>The Doghouse DFW</h2> <!-- Place Holder till I can design a real logo -->
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <div class="container">
        <div class="page-header">
            <h1>10 Best Pizza Joints in DFW</h1> <!-- Place Holder -->
        </div>
    </div>
    <!-- Body Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-left">
                    <div class="panel-body">
                        <br>
                        <div class="pre-scrollable">
                            1. Cane Rosso <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 2. Fireside Pies <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 3. Serious Pizza <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 4. Cavali <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 5. Campisi's Egyptian Lounge <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 6. Coal Vines <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 7. Chimera Brewing Company <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 8. Pie 314 Everyday Eatery <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 9. Mama's Pizzas <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                            <hr> 10. Joe's Pizza Pasta & Subs <!-- Link this to map -->
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> <!-- Link this to javascript counter -->
                            <!-- Need to add social links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-right">
                        <div class="mapouter"> <!-- This map is placeholder until we figure out the API -->
                            <div class="gmap_canvas">
                                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Fort Worth, US, &t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>google map <a href="http://www.embedgooglemap.net">embedgooglemap.net</a></div>
                            <style>
                            .mapouter {
                                overflow: hidden;
                                height: 505px;
                                width: max;
                            }
                            
                            .gmap_canvas {
                                background: none!important;
                                height: 505px;
                                width: max;
                            }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">&copy; 2017 The Doghouse DFW</p>
        </div>
        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
        <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js "><\/script>')
        </script>
        <!-- Custom scripts for this template -->
</body>
</html>